.submenu-blog .submenu-shop__link {
  padding-left: 2.75rem;
  padding-right: 2.75rem; }

.submenu-designer-card {
  margin-bottom: 3.3125rem; }

.submenu-blog {
  margin-bottom: 1.875rem; }

.designers-card__top {
  margin-bottom: 5.0625rem; }

.designers-card__title {
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-family: "AvenirNext-Medium", sans-serif;
  text-decoration: underline; }

.designers-card__text p {
  font-size: 1.125rem;
  line-height: 24px;
  margin: 0; }

.designers-card__visual img {
  width: 100%; }

.designers-card__similar {
  margin-bottom: 4.875rem; }

.designers-card__similar-title-block {
  position: relative;
  display: inline-block;
  margin-left: 1.25rem;
  margin-bottom: 2.5rem; }
  .designers-card__similar-title-block h2 {
    margin-bottom: 10px;
    text-decoration: none; }

.designers-card__marker {
  position: absolute;
  padding: 0 3px;
  padding-bottom: 3px;
  font-size: 1.5rem;
  line-height: 1.4375rem;
  background-color: #C3FD8B;
  right: -3.125rem;
  top: -25px;
  font-family: "AvenirNext-Medium", sans-serif; }

.designers-card__similar-display-all {
  display: block;
  position: relative;
  font-size: 0.875rem;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 1.1px; }
  .designers-card__similar-display-all:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    width: 27px;
    height: 31px;
    background: url(../img/ico-chevron-left.png) 0 0 no-repeat;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.news-item {
  margin-bottom: 1.625rem; }

.news-item__img-wrap {
  display: block; }
  .news-item__img-wrap img {
    width: 100%; }

.news-item__caption {
  padding: 25px 0;
  font-size: 18px;
  text-align: center;
  line-height: 24px; }
  .news-item__caption div {
    display: inline-block; }
  .news-item__caption a {
    display: block;
    color: #000;
    text-decoration: none; }
  .news-item__caption .news-item__title {
    text-transform: uppercase;
    font-family: "AvenirNext-DemiBold", sans-serif;
    letter-spacing: .7px; }
  .news-item__caption .news-item__date {
    color: #808080; }

.pagination ul .pagination__prev, .pagination ul .pagination__next {
  padding: 0;
  margin: 0;
  cursor: pointer; }

.pagination__prev {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 13px solid #000;
  border-bottom: 8px solid transparent; }

.pagination__next {
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 13px solid #000;
  border-bottom: 8px solid transparent; }

.back-to-blog {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-bottom: 3.75rem;
  font-size: 14;
  color: #808080;
  text-transform: uppercase;
  letter-spacing: 1.1px; }
  .back-to-blog:before {
    content: '';
    position: relative;
    top: -2px;
    width: 12px;
    height: 19px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    background: url(../img/chev-back-blog.png) 0 0 no-repeat; }

.blog-card-item__header {
  margin-bottom: 2.1875rem; }

.blog-card-item__title,
.blog-card-item__date {
  text-align: center;
  margin: 0;
  line-height: 24px; }

.blog-card-item__title {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: "AvenirNext-DemiBold", sans-serif;
  letter-spacing: .7px;
  text-transform: uppercase; }

.blog-card-item__date {
  color: #808080;
  font-size: 1.125rem; }

.blog-card-item__text p {
  font-size: 1.3125rem;
  line-height: 30px;
  margin: 0; }

.blog-card-item__video {
  margin: 3rem 0; }

.blog-card-item__video-container {
  position: relative; }
  .blog-card-item__video-container img {
    width: 100%; }

.blog-card-item__picture img {
  width: 100%; }

.blog-card-item__play-icon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 265px;
  height: 265px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 3px solid rgba(204, 204, 204, 0.6); }
  .blog-card-item__play-icon:after {
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 36%;
    border-top: 65px solid transparent;
    border-left: 94px solid rgba(204, 204, 204, 0.6);
    border-bottom: 65px solid transparent;
    z-index: 99; }

.blog-card-item__picture {
  margin: 5.25rem 0; }

.blog-card-item .to-top {
  margin-top: 9rem; }

.blog-card-item .pagination__line,
.blog-card-item .pagination__line--designers-card {
  margin-bottom: 2.8125rem; }

.designers-banner {
  position: relative;
  margin-top: -38px; }
  .designers-banner img {
    width: 100%; }
  .designers-banner embed {
    position: absolute;
    left: -1px;
    bottom: -6%;
    width: 101%; }

.submenu-designers {
  margin-top: 0;
  margin-bottom: 1.125rem; }
  .submenu-designers .submenu-shop__link {
    padding-top: 3px;
    padding-bottom: 3px;
    text-transform: capitalize; }

.designers-alphabet {
  border-top: 1px solid #666666;
  border-bottom: 1px solid #666666; }
  .designers-alphabet ul {
    font-size: 0; }
  .designers-alphabet li {
    display: inline-block;
    margin: 0 3px; }
  .designers-alphabet li a {
    display: block;
    padding: 7px 3px;
    color: #000;
    font-size: 20px;
    text-transform: uppercase; }
    .designers-alphabet li a:hover, .designers-alphabet li a:active {
      text-decoration: none;
      background-color: #000;
      color: #66ff00; }

.designers-brands__item {
  min-height: 160px;
  padding-top: 2.9375rem;
  padding-bottom: 4.1875rem;
  border-bottom: 1px solid #666666;
  font-family: "AvenirNext-Medium", sans-serif;
  text-transform: uppercase; }
  .designers-brands__item:last-child {
    margin-bottom: 6.875rem; }

.designers-brands__capital {
  text-align: center;
  font-size: 1.875rem;
  line-height: 1.875rem; }
  .designers-brands__capital span {
    display: block; }

.designers-brands__list {
  padding-top: 0.75rem;
  font-size: 0; }
  .designers-brands__list li {
    display: inline-block;
   width: 194px;
    margin-bottom: 15px; }
  .designers-brands__list a {
    color: #000;
    font-size: 12px; }

.index-banner {
  margin-top: -3.4375rem;
  margin-bottom: 17px; }
  .index-banner section {
    padding: 0; }

.index-banner__slide {
  width: 100%;
  margin: auto; }

.index-banner__text {
  padding-top: 25px;
  font-family: "AvenirNext-Medium", sans-serif; }
  .index-banner__text h2 {
    margin-top: 0;
    text-align: left; }
  .index-banner__text p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 23px; }

.index-banner__chapter-link {
  font-size: 18;
  color: #000;
  text-decoration: underline; }
  .index-banner__chapter-link:hover, .index-banner__chapter-link:active, .index-banner__chapter-link:focus {
    color: #000; }

.index-banner__bordered {
  width: 294px;
  padding: 55px 30px 37px 39px;
  margin-top: 5.8125rem;
  position: relative; }
  .index-banner__bordered p {
    margin: 0;
    position: relative;
    font-size: 22px;
    line-height: 28px;
    z-index: 2; }
    .index-banner__bordered p .index-banner__chapter-link {
      font-size: 22px; }

.index-banner__trapezoid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #000;
  z-index: 0; }

.index-banner__picture .category-pentagramm-wrap {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  bottom: auto;
  width: 161px;
  height: 183px;
  top: 24px; }

.index-banner__picture .category-pentagramm, .index-banner__picture .category-pentagramm-border {
  width: 161px; }
  .index-banner__picture .category-pentagramm svg, .index-banner__picture .category-pentagramm img, .index-banner__picture .category-pentagramm-border svg, .index-banner__picture .category-pentagramm-border img {
    width: 100% !important; }

.index-banner__picture .category-pentagramm__text {
  margin-top: -15px;
  left: 21px; }
  .index-banner__picture .category-pentagramm__text div {
    font-size: 14px;
    color: #000; }
  .index-banner__picture .category-pentagramm__text a {
    margin-left: 15px;
    font-size: 16px; }
    .index-banner__picture .category-pentagramm__text a:after {
      margin-left: 5px;
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8); }

#car-banner.owl-carousel .owl-item img {
  width: auto; }

#car-banner.owl-carousel .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center; }

.index-slider-nav {
  margin-bottom: 63px;
  position: relative;
  z-index: 3; }

.index-slider-nav .owl-dots {
  text-align: center; }

.index-slider-nav .owl-dot,
#car-banner.owl-carousel .owl-dot {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 6px;
  background-color: #000;
  border: 1px solid transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer; }
  .index-slider-nav .owl-dot.active,
  #car-banner.owl-carousel .owl-dot.active {
    background-color: #00FF00;
    border-color: #000; }

.index-categories {
  position: relative;
  z-index: 2; }

.index-categories__top {
  position: relative;
  height: 385px;
  margin-bottom: 20px;
  border: 3px solid #000; }
  .index-categories__top img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute; }

.index-categories__item {
  display: block;
  margin-bottom: 3.75rem; }
  .index-categories__item span {
    display: block; }
  .index-categories__item:hover, .index-categories__item:active {
    text-decoration: none; }
  .index-categories__item--female .index-categories__top img {
    left: auto;
    right: -20px;
    top: auto; }
  .index-categories__item--male .index-categories__top img {
    bottom: 0;
    top: auto; }
  .index-categories__item--look .index-categories__top img, .index-categories__item--accesories .index-categories__top img {
    bottom: -15px;
    top: auto; }
  .index-categories__item:hover .index-categories__bottom, .index-categories__item:active .index-categories__bottom {
    background-color: #84FD00; }

.index-categories__bottom {
  padding: 19px 0;
  border: 3px solid #000;
  text-align: center;
  font-size: 18px;
  color: #000;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease; }

section.index-arrivals {
  padding-bottom: 4.125rem;
  text-align: center; }
  section.index-arrivals h2 {
    margin-top: 0;
    margin-bottom: 1.25rem;
    text-align: center; }
    section.index-arrivals h2 a {
      display: inline-block;
      padding-bottom: 0.3125rem;
      font-family: "AvenirNext-Medium", sans-serif;
      font-size: 1.875rem;
      line-height: 2rem;
      letter-spacing: .3px;
      color: #000;
      border-bottom: 2px solid #000; }
      section.index-arrivals h2 a:hover, section.index-arrivals h2 a:active, section.index-arrivals h2 a:focus {
        text-decoration: none; }
  section.index-arrivals .shop-product__item-bottom {
    height: auto !important; }

.shop-product__item-without-height {
  padding: 8px 0;
  line-height: 20px; }

.index-arrivals__header {
  text-align: center; }

.index-arrivals__gender-link {
  display: inline-block;
  margin-bottom: 2.5rem; }
  .index-arrivals__gender-link a {
    font-size: 1.125rem;
    color: #000;
    line-height: 1.25rem; }
  .index-arrivals__gender-link span {
    margin: 0 5px; }

.owl-carousel#car-arrivals .owl-prev {
  left: -55px; }

.owl-carousel#car-arrivals .owl-next {
  right: -55px; }

.index-arrivals__display-all {
  margin-top: 0.9375rem;
  font-family: "AvenirNext-Medium", sans-serif;
  font-size: 1.125rem;
  color: #000;
  text-decoration: underline; }

.blog-preview {
  margin-bottom: 2.5rem; }
  .blog-preview h2 {
    margin: 0;
    text-align: left; }

.blog-preview__title {
  font-size: 3rem;
  line-height: 3.125rem;
  letter-spacing: 1.8px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase; }
  .blog-preview__title:hover, .blog-preview__title:active, .blog-preview__title:focus {
    text-decoration: none;
    color: #000; }

.blog-preview__wrapper {
  padding-bottom: 4.0625rem; }

.blog-preview__announcement {
  display: block;
  position: relative;
  margin-top: -11.25rem;
  padding-top: 12.5rem;
  padding-bottom: 3.125rem;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  color: #000;
  text-decoration: none;
  font-family: "AvenirNext-Medium", sans-serif;
  z-index: 1; }
  .blog-preview__announcement span {
    display: block; }
  .blog-preview__announcement:hover, .blog-preview__announcement:active, .blog-preview__announcement:focus {
    text-decoration: none;
    color: #000; }

.blog-preview__name {
  font-size: 2.25rem;
  line-height: 3.125rem;
  text-transform: uppercase; }

.blog-preview__link {
  font-size: 18px;
  text-decoration: underline;
  color: #000; }
  .blog-preview__link:hover, .blog-preview__link:active, .blog-preview__link:focus {
    color: #000; }

.blog-preview__read-more {
  position: relative;
  font-size: 18px;
  text-decoration: underline; }
  .blog-preview__read-more:after {
    content: '';
    display: inline-block;
    margin-left: 5px;
    background-image: url(../img/sprite.png);
    background-position: -153px -92px;
    width: 9px;
    height: 17px;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); }

.blog-preview__trapezoid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #000; }

.skew {
  -webkit-transform: skewY(-7deg);
      -ms-transform: skewY(-7deg);
          transform: skewY(-7deg); }

.blog-preview__visual {
  margin-top: 24px;
  position: relative;
  z-index: 2; }
  .blog-preview__visual img {
    max-width: 100%; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1052px) {
  .index-arrivals .designers-card__similar-item {
    max-width: 262px;
    margin: 0 auto; }
  .owl-carousel#car-arrivals .owl-prev {
    left: -31px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -31px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .index-categories__item {
    margin-bottom: 40px; }
  .index-banner__bordered {
    margin-bottom: 30px; }
  .index-banner__bordered {
    margin-top: 2.8125rem; }
  .owl-carousel#car-arrivals .owl-prev {
    left: -55px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -55px; }
  .index-banner__picture .category-pentagramm-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    bottom: auto;
    width: 161px;
    height: 183px;
    top: -5%;
    left: -2%;
    bottom: auto;
    right: auto;
    -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
            transform: scale(0.6); } }

@media only screen and (max-width: 828px) {
  .owl-carousel#car-arrivals .owl-prev,
  .owl-carousel#car-arrivals .owl-next {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }
  .owl-carousel#car-arrivals .owl-prev {
    left: -41px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -41px; }
  .index-arrivals .designers-card__similar-item {
    max-width: 212px; } }

@media only screen and (max-width: 769px) {
  .owl-carousel#car-arrivals .owl-prev {
    left: -10px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -10px; }
  .index-arrivals .designers-card__similar-item {
    max-width: 250px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .designers-card__description {
    margin-bottom: 30px; }
  .blog-preview__visual {
    display: none; }
  .blog-preview__announcement {
    margin-top: 0; }
  .blog-preview__wrapper {
    padding-top: 3.125rem; }
  #car-announcement.owl-carousel .owl-prev {
    left: -55px; }
  #car-announcement.owl-carousel .owl-next {
    right: -55px; }
  #car-banner.owl-carousel .owl-item .index-banner__picture img {
    width: 100%; }
  .designers-card__similar .designers-card__similar-item {
    max-width: 263px;
    margin: auto; }
  .index-banner__picture .category-pentagramm-wrap {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    bottom: auto;
    width: 161px;
    height: 183px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); } }

@media only screen and (max-width: 660px) {
  .designers-card__similar .designers-card__similar-item {
    max-width: 262px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .blog-card-item__play-icon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 180px;
    height: 180px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.6); }
    .blog-card-item__play-icon:after {
      margin-left: 38%;
      border-top: 40px solid transparent;
      border-left: 60px solid rgba(255, 255, 255, 0.6);
      border-bottom: 40px solid transparent; }
  .index-categories__item {
    margin-bottom: 60px; }
  .owl-carousel#car-arrivals .owl-prev,
  .owl-carousel#car-arrivals .owl-next {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
    top: 50%; }
  .owl-carousel#car-arrivals .owl-prev {
    left: -10px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .blog-preview__name {
    font-size: 20px;
    line-height: 35px; }
  #car-announcement.owl-carousel .owl-prev,
  #car-announcement.owl-carousel .owl-next {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8); }
  #car-announcement.owl-carousel .owl-prev {
    left: -45px; }
  #car-announcement.owl-carousel .owl-next {
    right: -45px; }
  .blog-preview__read-more {
    font-size: 16px; }
  .owl-carousel#car-arrivals .owl-prev {
    left: -20px; }
  .owl-carousel#car-arrivals .owl-next {
    right: -20px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */

/*# sourceMappingURL=maps/main-new.css.map */
